<!-- <div class="admin-sidebar">
    <div class="logo">
        <img src="/assets/images/home.png" alt="" />
    </div>
    <div class="links">
        <ul>
            <li>
                <a routerLink="/dashboard"><i class="pi pi-home"></i> Dashboard</a>
            </li>
            <li>
                <a routerLink="products"><i class="pi pi-briefcase"></i> Products</a>
            </li>
            <li>
                <a routerLink="orders"><i class="pi pi-shopping-cart"></i> Orders</a>
            </li>
            <li>
                <a routerLink="users"><i class="pi pi-users"></i> Users</a>
            </li>

            <li class="logout">
                <a><i class="pi pi-sign-out"></i> Logout</a>
            </li>
        </ul>
    </div>
</div> -->
<div class="topnav" id="myTopnav">
    <a routerLink="/" style="font-size: 24px; padding: 10px 15px;">&nbsp; Hari Basket</a>
    <a routerLink="products"><i class="pi pi-briefcase"></i> Products</a>
    <a routerLink="orders"><i class="pi pi-shopping-cart"></i>Manage Orders</a>
    <a routerLink="users"><i class="pi pi-users"></i>Manage Users</a>
    <a href="javascript:void(0);" class="icon" (click)="openMenu()">
        <i class="fa fa-bars"></i>
    </a>
    <a href="javascript:void(0);" class="logout" (click)="logoutUser()"><i class="pi pi-sign-out"></i> Logout</a>
</div>